body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(30deg, red, orange, red);
    background-attachment: fixed;
    text-align:center;
}
h1 {
    text-align:center;
    color:rgb(255, 255, 255);
    font-family: Arial, sans-serif;
}
p {
    text-align:center;
    font-family: Arial, sans-serif;
    color:rgb(255, 255, 255)
}
a {
    font-family: Arial, sans-serif;
    color: rgb(255, 81, 0);
}
a:hover {
    cursor:pointer;
}
button {
    width:auto;
    height:auto;
    border:10px solid white;
    background: linear-gradient(90deg, red, orange, red);
    background-size: 200% 100%;
    cursor:pointer;
    color:rgb(255, 255, 255);
    transition:background-position 0.5s ease, transform 0.2s;
    font-size: 24px;
    border-radius:10px;
}
button:hover {
    transform: scale(1.1);
    background-position:100% 0%;
    
}
input {
    width:auto;
    height:auto;
    border:10px solid white;
    background: linear-gradient(90deg, red, orange, red);
    background-size: 200% 100%;
    cursor:pointer;
    color:rgb(255, 255, 255);
    transition:background-position 0.5s ease, transform 0.2s;
    font-size: 24px;
    border-radius:10px;
}
input:hover {
    transform: scale(1.1);
    background-position:100% 0%;
    
}
input::placeholder {
    color:rgba(30, 30, 30, 0.5)
}
.buttonbox1 {
    display:flex;
    position:relative;
    flex-direction:column;
    border-radius:20px;
    width:90%;
    max-width:1200px;
    min-height:40px;
    margin:20px auto;
    padding: 20px;
    
    justify-content:center;
    align-items:flex-start;
    
    
    background:rgba(255, 171, 75, 0.3);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.buttonbox1 p {
    margin: 0;
    flex:1;
    text-align:left;
}
.buttonbox1 button {
    
    margin-left:auto;
}


.buttonbox2 {
    display:flex;
    position:relative;
    flex-direction:column;
    border-radius:20px;
    width:90%;
    max-width:1200px;
    
    margin:20px auto;
    padding: 20px;
    
    justify-content:center;
    align-items:center;
    
    
    background:rgba(255, 171, 75, 0.3);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.buttonbox2 p {
    text-align:center;
}
.buttonbox2 button {
    text-align:center;
}
.row {
    display: flex;
    align-items:center;
    gap:10px;
    
}
.center-row {
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
    
}
.center-row button {
    position:absolute;
    right: 20px;
}
.usern{
    font-weight:bold;
    color:rgb(255, 255, 255);
    font-size:large;

}
.avatar{
    display:inline-block;
    width:25px;
    height:25px;
    border-radius:50%;
    vertical-align:middle;
    margin-right:8px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    
}
#right {
    position:absolute;
    right: 20px;
}
#sidebar {
    display:flex;
    position:fixed;
    flex-direction:column;
    
    margin:0;
    padding: 20px;
    
    justify-content:flex-start;
    align-items:center;
    top:0;
    left:-35vh;
    width:40vh;
    min-width:20px;
    height:100vh;
    transition:left ease 0.2s;
    background:linear-gradient(-30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
    border-radius:20px;
}
#sidebar:hover {
    left:calc(0vh - 20px);
}
#sidebar button {
    width:calc(100% - 20px);
    height:50px;
}